@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 100%/$columns * $i;
    }
    .col-offset-#{$i} {
        margin-left: 100%/$columns * $i;
    }
    .col-gap-#{$i} {
        margin-right: 100%/$columns * $i;
    }
}