.title {
    color: #E3EAED;
    text-align: center;
}
.page {
    color: #E3EAED;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin-top: 0.5em;
    padding: 0 0.5rem;
}