$columns: 12;
$desktop-lg-width: 1824px;
$desktop-width: 1170px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$phablet-width: 640px;
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$odd-point: 321px;